@inherits LayoutComponentBase

<div class="flex justify-between p-2 w-full bg-gradient-to-b from-blue-500 to-cyan-500">
    <div>
        <NavLink href="" class="font-bold font-sans text-white text-2xl hover:text-blue-600">Home</NavLink>
    </div>
    <div>
        <NavLink href="hra" class="text-right m-5 font-light font-sans text-white text-xl hover:text-blue-600">Hádání čísla</NavLink>
        <NavLink href="vybaveni" class="text-right m-5 font-light font-sans text-white text-xl hover:text-blue-600">Vybavení nemocnice</NavLink>
    </div>
</div>

<div class="bg-gradient-to-b from-blue-500 to-cyan-500 h-screen">
    <div class="m-auto w-1/2 bg-gradient-to-b from-cyan-500 to-blue-500 text-center text-2xl font-bold font-sans px-2 py-2 rounded-b-lg">Moje skvělá stránka :)</div>
    @Body
</div>

