@inherits LayoutComponentBase

<div class="rounded-b-lg height-20 w-full bg-gradient-to-b from-blue-500 to-cyan-500">
    <div>
        <NavLink href="/" class="p-5 font-bold font-sans text-white text-2xl hover:text-blue-600">Home</NavLink>

        <NavLink href="/hra" class="text-right m-5 font-light font-sans text-white text-xl hover:text-blue-600">Hádání čísla</NavLink>
        <NavLink href="/vybaveni" class="text-right m-5 font-light font-sans text-white text-xl hover:text-blue-600">Vybavení nemocnice</NavLink>
    </div>

</div>

<div class="bg-zinc-400 h-screen">
    <div class="m-auto w-1/2 bg-gradient-to-b from-cyan-500 to-blue-500 text-center text-2xl font-bold font-sans px-2 py-2 rounded-b-lg">Moje skvělá stránka :)</div>
    @Body
</div>

