@page "/"

<head>
    <title>Úvodní strana</title>
</head>

<body>
    <div style="background-image:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://thumbs.dreamstime.com/z/group-medical-staff-smiling-hospital-group-medical-staff-smiling-hospital-190236260.jpg)"
         class="bg-local bg-center h-screen w-full no-repeat bg-gray-0/50">
        <div class="px-4">
            <h1 class="bold font-mono text-center z-10">
            Vítej na mé stránce, která byla vytvořena za pomoci <span class="text-green-600">Blazor</span>,
            <span class="text-red-600">HTML</span> a <span class="text-yellow-200">C#</span>
            </h1>
            <p class="italic font-mono text-center">Hra se nachází pod <a href="hra" class="bold underline decoration-pink-500">/hra</a> nebo v navigačním menu</p>
            <br />
            <p class="text-center"><a class="font-mono text-center bold underline decoration-blue-500" href="https://www.fbmi.cvut.cz/cs/home">Odkaz na web ČVUT FBMI.</a></p>
        </div>
    </div>
</body>

@code
{

}
