@page "/"

<head>
    <meta charset="utf-8" />
    <title>Úvodní strana</title>
</head>

<body class="bg-zinc-400">

    <h1 class="bold font-mono text-center bg-color-grey">
        Vítej na mé stránce, která byla vytvořena za pomoci <span class="text-green-600">Blazor</span>,
        <span class="text-blue-600">HTML</span> a <span class="text-yellow-200">C#</span>
        </h1>
<p class="italic font-mono text-center">Hra se nachází pod <a href="/hra" class="bold underline decoration-pink-500">/hra</a> nebo v navigačním menu</p>
<br />
<a class="font-mono text-center bold underline decoration-blue-500" href="https://www.fbmi.cvut.cz/cs/home">Odkaz na web ČVUT FBMI.</a>

</body>

@code
{

}
