@page "/vybaveni"
<head>
    <meta charset="utf-8" />
    <title>WIP</title>
</head>

<body class="bg-zinc-400">
    <div 
        class ="h-full w-full p-96 bg-no-repeat bg-contain bg-cover"
        style="background-image: url('https://wallpapercave.com/wp/wp1848585.jpg');">

        <p class="text-center text-2xl text-white font-mono italic underline md:decoration-double">Zde nemáš být</p>
    </div>
</body>
@code {

}
