@page "/vybaveni"
@using Ppt23.Client.Components;

<head>
    <title>Vybavení nemocnice</title>
    <meta charset="utf-8" />
</head>

<body style="background-image:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://c1.wallpaperflare.com/preview/343/704/60/scissors-surgery-operating-room-emergency.jpg)"
      class="bg-cover bg-no-repeat h-screen">
    <div>
        <div class="mx-4 py-3 px-4">
            <div class="text-sky-500 text-size-xl font-mono bold">Pocet vybaveni: @seznamVybaveni.Count</div>

            <button class="rounded bg-green-500 bold text-size-xl p-2 m-2" @onclick="noveVybaveni">Generovat nové vybavení</button>
            <button class="rounded bg-green-500 bold text-size-xl p-2 m-2" @onclick="() => {isInNewMode = true; newModel = new();}">
                Nový záznam
            </button>

            <div class="grid grid-cols-6 auto-cols-max bg-slate-900 text-white p-2 rounded-t-lg text-center">

                <div>Název</div>
                <div>Cena</div>
                <div>Datum nákupu</div>
                <div>Datum poslední revize</div>
                <div>Potřebuje revizi</div>
                <div>Akce</div>

            </div>


            <div class="bg-white rounded-b-lg border-2 rounded-b-lg border-black border-collapse">
                @if (isInNewMode)
                {
                    ArgumentNullException.ThrowIfNull(newModel);

                    <VybaveRow IsInEditMode=true Vyb="newModel"
                           EditDoneCallback="() => {seznamVybaveni.Insert(0,newModel);
                                                    isInNewMode = false;
                                                    newModel.LASTREV = DateTime.Now;}"> @*Dnesni datum se prida az po potvrzeni*@

                        <div class="grid grid-cols-2 p-1">
                            <button type="submit" class="w-auto h-auto rounded border-2 border-black text-black m-1 p-1 bg-green-500 hover:bg-green-700">
                                Ok
                            </button>
                            <button type="button" @onclick="() => isInNewMode = false" class="w-auto rounded border-2 border-black text-black m-1 p-1 bg-yellow-500 hover:bg-yellow-700">
                                Zrušit
                            </button>
                        </div>
                    </VybaveRow>
                }

                @foreach (var vyb in seznamVybaveni)
                {
                    <VybaveRow Vyb="vyb"
                           SmazEventCallback="() => seznamVybaveni.Remove(vyb)"
                           RevizeEventCallBack="() => vyb.LASTREV = DateTime.Now">
                    </VybaveRow>

                }
            </div>
        </div>
    </div>
</body>

@code {
    List<VybaveniVm> seznamVybaveni = new List<VybaveniVm>();
    VybaveniVm newModel = new VybaveniVm();
    bool isInNewMode;

    public void noveVybaveni()
    {
        for (int i = 0; i < 2; i++)
        {
            VybaveniVm vybaveni = new VybaveniVm();
            seznamVybaveni.Add(vybaveni);
        }
    }
}
