@page "/vybaveni"
<head>
    <meta charset="utf-8" />
    <title>WIP</title>
</head>

<body>
    <div>
        <p class="text-center text-2xl text-white font-mono italic underline md:decoration-double">Zde nemáš být</p>
    </div>
</body>
@code {

}
