@page "/vybaveni"
@using Ppt23.Client.Components;

<head>
    <title>Vybavení nemocnice</title>
</head>

<body class="bg-transparent">
    <div style="background-image:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://thumbs.dreamstime.com/z/group-medical-staff-smiling-hospital-group-medical-staff-smiling-hospital-190236260.jpg)"
         class="bg-local bg-center h-screen w-full no-repeat bg-gray-0/50">
        <div class="mx-4 py-3 px-4">
            <div class="text-sky-500 text-size-xl font-mono bold">Pocet vybaveni: @seznamVybaveni.Count</div>

            <button class="rounded bg-green-500 bold text-size-xl p-2 m-2" @onclick="noveVybaveni">Generovat nové vybavení</button>

            <div class="grid grid-cols-6 auto-cols-max bg-slate-900 text-white p-2 rounded-t-lg">

                <div>Název</div>
                <div>Cena</div>
                <div>Datum nákupu</div>
                <div>Datum poslední revize</div>
                <div>Potřebuje revizi</div>
                <div>Akce</div>

            </div>
            <div class="bg-white rounded-b-lg border-2 rounded-b-lg border-black border-collapse">
                @foreach (var vyb in seznamVybaveni)
                {
                    <VybaveRow Vyb="vyb"
                           SmazEventCallback="() => seznamVybaveni.Remove(vyb)"
                           RevizeEventCallBack="() => vyb.LASTREV = DateTime.Now">
                    </VybaveRow>

                }
            </div>
        </div>
    </div>
</body>

@code {
    List<VybaveniVm> seznamVybaveni = new List<VybaveniVm>();

    public void noveVybaveni()
    {
        for (int i = 0; i < 2; i++)
        {
            VybaveniVm vybaveni = new VybaveniVm();
            seznamVybaveni.Add(vybaveni);
        }
    }
}
